
<div class="container">
	<nav class="navbar navbar-inverse navbar-fixed-top" id="navID">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse"
				data-target="#toutLesLiens">
				<span class="icon-bar"></span><span class="icon-bar"></span><span
					class="icon-bar"></span>
			</button>
			<label class="navbar-brand">Philippe Fort </label>
		</div>
		<div class="collapse navbar-collapse" id="toutLesLiens">
			<ul class="nav navbar-nav">
				<li class="active"><a
					href="http://fortphil.ddns.net:8081/philippe/index.jsp">Accueil</a></li>


				<li><a
					href="http://fortphil.ddns.net:8081/philippe/pages/examples.jsp"
					data-toogle="tooltip"
					title="Exemple d'applications r&eacute;alis&eacute;es">Cr&eacute;ations</a></li>

				<li><a href="https://goo.gl/maps/g6d8b2naRZ62" target="_blank"
					style="border: 0" data-toogle="tooltip"
					title="Lien vers Google Maps">Me situer</a></li>
				<li><a href="mailto:philippe_informatique@orange.fr">Me
						contacter</a></li>
			</ul>
			 
			<div>
				
			<form method="GET"
				class="navbar-form navbar-right navbar-input-group perso"
				action="http://www.google.com/search" target="_blank">
				<input type="hidden" name="hl" value="fr"> <input
					TYPE="text" name="q" placeholder="recherche Google" size="20"
					maxlength="255" value=""> <input type="submit" name="btnG"
					VALUE="Go">
			</form>
		</div>
		
</div>
</nav>
</div>